.header {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: white;
    background-color: #000024;
    background: linear-gradient(0deg, rgba(0,0,36) 0%, rgba(15,15,150) 70%, rgba(61,0,255) 100%);
    padding: 1.5rem 1rem 0;
}

.item {
    
}

.backToHome {
    margin: 3rem 0 0;
}